html {
  width: 400px;  
  height: 600px; 
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  font-size: 1em; 
}

.container {
  padding: 20px;
  max-width: 600px; 
  margin: 0 auto;
}

h1 {
  color: #333;
  text-align: center;
}

code {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

#environment-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  overflow-x: auto;
}

#environment-nav button {
  margin: 0 5px;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
}

#environment-nav button:hover {
  opacity: 0.8;
}

#add-environment-button {
  background-color: #2196F3;
}

#edit-environment-button {
  background-color: #FFC107;
}

.card {
  background: linear-gradient(135deg, #1e1e1e, #3c3c3c);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  transition: background-color 0.3s ease;
  height: 150px;
}

.card:hover {
  background: linear-gradient(135deg, #2c2c2c, #4c4c4c);
}

.card-chip {
  width: 40px;
  height: 30px;
  background: #c0c0c0;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.card-logo {
  width: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card-number {
  font-size: 1.2em; 
  letter-spacing: 2px;
  margin-top: 60px;
  margin-left: 20px;
  text-align: left;
}

.card-response {
  font-size: 1em; 
  opacity: 0.8;
  text-align: left;
  margin-left: 20px;
}

.notification {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1000;
  max-width: 600px; 
  width: 100%;
  text-align: center;
}

.notification.show {
  opacity: 1;
}

.hidden {
  display: none;
}

#import-container {
  text-align: center;
}

#json-input {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#import-button, #cancel-import-button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#cancel-import-button {
  background-color: #f44336;
}

#import-button:hover {
  background-color: #45a049;
}

#cancel-import-button:hover {
  background-color: #da190b;
}

#edit-container {
  text-align: left;
}

#edit-container div {
  margin-bottom: 10px;
}

.env-name {
  width: 40%;
  margin-right: 10px;
  padding: 5px;
}

.edit-json, .delete-env {
  margin-right: 5px;
  padding: 5px 10px;
  color: white;
  border: none;
  cursor: pointer;
}

.edit-json {
  background-color: #2196F3;
}

.edit-json:hover {
  background-color: #0b7dda;
}

.delete-env {
  background-color: #f44336;
}

.delete-env:hover {
  background-color: #da190b;
}

.json-edit {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#save-edit-button, #cancel-edit-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#cancel-edit-button {
  background-color: #f44336;
  margin-left: 10px;
}

#save-edit-button:hover {
  background-color: #45a049;
}

#cancel-edit-button:hover {
  background-color: #da190b;
}

.edit-buttons {
  margin-top: 20px;
  text-align: center;
}

.edit-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#save-edit-button {
  background-color: #4CAF50;
}

#cancel-edit-button {
  background-color: #f44336;
}

#save-edit-button:hover {
  background-color: #45a049;
}

#cancel-edit-button:hover {
  background-color: #da190b;
}